.cardsDiv {
  display: flex;
  overflow: hidden;
  position: relative;
  margin-top: 60px;
  width: 100%;
  align-items: center;
  justify-content: center;
  column-gap: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.rightArrowDiv {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0px;
  top: 50%;
  background-color: white;
  border: 1px solid #333333;
  border-radius: 6px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.leftArrowDiv {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0px;
  top: 50%;
  background-color: white;
  border: 1px solid #333333;
  border-radius: 6px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
@media screen and (min-width: 1441px) {
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .cardsDiv {
    column-gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .cardsDiv {
    margin-top: 40px;
    padding-bottom: 60px;
  }
  .rightArrowDiv {
    right: 34%;
    top: 92%;
  }
  .leftArrowDiv {
    left: 34%;
    top: 92%;
  }
}
