.openAccordion {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  position: relative;
  border: 2px solid #262626;
  border-radius: 8px;
  width: 100%;
  background-color: white;
  min-height: 220px;
  padding: 40px;
  font-family: "Outfit", sans-serif;
  transition: 0.3s ease;
}
.closeAccordion {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  position: relative;
  border: 2px solid #262626;
  border-radius: 8px;
  width: 100%;
  padding: 40px;
  font-family: "Outfit", sans-serif;
  background-color: #ffefe5;
  transition: 0.3s ease;
  height: 120px;
}
.closeAnswer {
  display: none;
}
.openBtnDisplayNone {
  display: none;
}
.closeBtnDisplayNone {
  display: none;
}

.line {
  width: 80%;
  height: 1px;
  background-color: #262626;
  margin: 24px;
}
.titleStyle {
  font-size: 22px;
  font-weight: 600;
}
.answerStyle {
  font-size: 20px;
  font-weight: 500;
}
.openBtn {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: #fff5f0;
  border: 1px solid #262626;
  outline: none;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
}
.closeBtn {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: #fff5f0;
  border: 1px solid #262626;
  outline: none;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
}
.btnDivOpen {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
}
.btnDivClose {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  right: 12px;
}
@media screen and (min-width: 1441px) {
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .questionsSection {
    gap: 32px;
  }
  .openAccordion {
    padding: 34px 30px;
  }
  .closeAccordion {
    padding: 24px 30px;
  }
  .openBtn,
  .closeBtn {
    padding: 6px;
  }
  .titleStyle {
    font-size: 18px;
    padding-right: 16px;
  }
  .answerStyle {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .openAccordion {
    width: 100%;
    padding: 30px 24px;
  }
  .closeAccordion {
    width: 100%;
    padding: 20px 24px;
  }
  .openBtn,
  .closeBtn {
    padding: 6px;
  }
  .titleStyle {
    font-size: 18px;
    text-align: left;
    padding-right: 10px;
  }
  .answerStyle {
    font-size: 16px;
  }
}
