.HeroHome {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  font-family: "Outfit", sans-serif;
  gap: 64px;
  margin-top: 150px;
}
.HelloText {
  border-bottom: 1px solid #262626;
  display: inline-block;
  font-size: 22px;
  color: #262626;
  font-weight: 400;
}
.TitleHome {
  font-size: 54px;
  color: #262626;
  font-weight: 800;
  margin-top: 10px;
  font-family: "Raleway", sans-serif;
}
.TitleSpan {
  color: #ff8d4d;
}
.DescriptionHome {
  color: #333333;
  font-size: 20px;
  margin-top: 10px;
}
.HomePhoto {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Photo {
  width: 100%;
}
.HomeContent {
  flex: 1;
}
.HomeBox {
  display: flex;
  flex-flow: row;
  align-items: center !important;
  justify-content: start !important;
  border: 2px solid #262626;
  border-radius: 8px;
  background-color: #ffefe5;
  width: 80%;
  justify-content: center;
  align-items: center;
  padding: 24px 50px 24px 50px;
  box-shadow: 4px 5px 1px #ffbe99;
  margin-top: 25px;
}
.BoxItem {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;
}
.ItemNum {
  font-weight: 800;
  font-size: 44px;
  color: #262626;
  display: flex;
  align-items: center;
}
.ItemNum span {
  font-weight: 800;
  font-size: 44px;
  color: #262626;
  display: flex;
}
.ItemText {
  font-size: 18px;
  color: #262626;
  text-align: center;
}
@media screen and (min-width: 1441px) {
}
@media screen and (min-width: 900px) and (max-width: 1440px) {
  .HeroHome {
    gap: 50px;
    margin-top: 120px;
  }
  .HomeBox {
    width: 100%;
    padding: 10px 20px 10px 20px;
  }
  .ItemNum {
    font-size: 34px;
  }
  .ItemNum span {
    font-size: 34px;
  }
  .ItemText {
    font-size: 16px;
  }
  .HelloText {
    font-size: 18px;
  }
  .TitleHome {
    font-size: 40px;
  }
  .DescriptionHome {
    font-size: 16px;
  }
}
@media screen and (max-width: 901px) {
  .HeroHome {
    flex-flow: column;
    gap: 35px;
    margin-top: 120px;
  }
  .HomeContent {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 25px;
  }
  .HelloText {
    font-size: 16px;
  }
  .DescriptionHome {
    font-size: 16px;
  }
  .ItemNum {
    font-size: 34px;
  }
  .ItemNum span {
    font-size: 34px;
  }
  .ItemText {
    font-size: 16px;
  }
  .HomeBox {
    flex-flow: column;
    padding: 15px 0px 15px 0px;
  }
  .TitleHome {
    font-size: 30px;
  }
  .BoxItem {
    width: 100%;
  }
  .Line {
    width: 60%;
    height: 1px;
    background-color: #262626;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
