.NavStyle {
  width: 95vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid #262626;
  border-radius: 8px;
  z-index: 2;
  margin-top: 20px;
  transition: 0.3s all;
  font-family: "Outfit", sans-serif;
  height: 80px;
}
.topNavStyle {
  top: -10px;
  width: 96vw;
  transition: 0.2s all;
}
.LogoStyle {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  flex: 2;
  background-color: #ff8d4d;
  border-radius: 8px 0px 0px 8px;
  font-size: 20px;
  height: 100%;
  border-right: 2px solid #262626;
}
.UlStyleLarg {
  display: flex;
  flex-flow: row;
  justify-content: end;
  flex: 7;
  list-style-type: none;
  margin: 0px;
  background-color: white;
  height: 100%;
}

.NavItemLarg {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #262626;
  padding: 0px 8px 0px 8px;
}
.backNavActive {
  background-color: #ffefe5;
}
.backNavDisable {
  background-color: white;
}
.NavItemLarg a {
  text-decoration: none;
  color: #262626;
  font-size: 20px;
}

.ContactStyle {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  flex: 1;
  background-color: #ffae80;
  border-left: 1px solid #262626;
  border-radius: 0px 8px 8px 0px;
  height: 100%;
}
.BtnNavSmall {
  display: none;
}
.LogoPhoto {
  margin-right: 5px;
}
.UlStyleSmall {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: start;
  list-style: none;
  overflow: hidden;
  background-color: #fff5f0;
  position: fixed;
  top: 60px;
  left: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 0px;
  transition: 0.5s ease;
  gap: 10px;
}
.show {
  height: 100vh;
  transition: 0.5s ease;
}
@media screen and (min-width: 1441px) {
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .NavStyle {
    height: 66px;
  }
  .LogoStyle {
    font-size: 16px;
  }
  .UlStyleLarg {
    flex: 5;
  }
  .ContactStyle {
    font-size: 16px;
  }
  .LogoPhoto {
    width: 25px;
  }
  .NavItemLarg a {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .NavStyle {
    height: 62px;
  }
  .NavItemLarg,
  .ContactStyle {
    display: none;
  }

  .NavItemSmall a {
    text-decoration: none;
    color: #262626;
    font-size: 18px;
  }
  .NavItemSmall {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .UlStyleLarg {
    flex: 2;
    width: 100%;
    background-color: white;
  }
  .LogoStyle {
    font-size: 12px;
    flex: 4;
  }
  .LogoPhoto {
    width: 20px;
  }

  .BtnNavSmall {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    background-color: #ffefe5;
    border-radius: 0px 8px 8px 0px;
    flex: 2;
    font-size: 22px;
    height: 100%;
    border-left: 2px solid #262626 !important;
    border: none;
  }
}
