* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Colors////*/
.appStyle {
  background-color: #fff5f0;
}
.main-back-color {
  background-color: #fff5f0;
}
/*////////////*/

/*/ Fonts /*/
.outfit {
  font-family: "Outfit", sans-serif;
}

.raleway {
  font-family: "Raleway", sans-serif;
}
/*////////////*/
.HeroSection {
  padding-left: 168px;
  padding-right: 168px;
}
.mainSection {
  padding-left: 162px;
  padding-right: 162px;
}
.FooterSection{
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}
@media screen and (min-width: 1441px) {
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .HeroSection,
  .mainSection {
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media screen and (max-width: 768px) {
  .HeroSection,
  .mainSection {
    padding-left: 16px;
    padding-right: 16px;
  }
  .FooterSection{
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 20px;
  }
}
