.BenefitBox {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  min-width: 220px;
  border: 2px solid #262626;
  border-radius: 8px;
  width: 100%;
  box-shadow: 4px 4px 0px #262626;
  background-color: white;
  height: 300px;
  position: relative;
  padding: 80px 50px 50px 50px;
}
.TitleStyle {
  font-size: 28px;
  font-weight: 700;
}
.description {
  font-size: 20px;
  font-weight: 500;
  margin-top: 16px;
}
.IconStyle {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: #ffdecc;
  border: 1px solid #262626;
  border-radius: 8px;
  padding: 12px;
  position: absolute;
  top: -20px;
  left: 16px;
  font-size: 20px;
}
@media screen and (min-width: 1441px) {
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .BenefitBox {
    box-shadow: 3px 3px 0px #262626;
    padding: 60px 30px 30px 30px;
  }
  .TitleStyle {
    font-size: 24px;
  }
  .description {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .BenefitBox {
    box-shadow: 3px 3px 0px #262626;
    padding: 50px 40px 30px 30px;
    /* flex-direction: row; */
  }
  .TitleStyle {
    font-size: 22px;
  }
  .description {
    font-size: 16px;
  }
}
